.browsing-time-c1 {
    background-color: #FFFFFF;
}
.browsing-time-c2 {
    background-color: #FFCCCC;
}
.browsing-time-c3 {
    background-color: #FF8080;
}
.browsing-time-c4 {
    background-color: #FF3333;
}
.browsing-time-c5 {
    background-color: #FF0000;
}
