<div class="container">
    <div class="row">
        <div class="col-xs-8 ploty-container">
            <div id="js-plotly"></div>
        </div>
    </div>
    <div class="clusters">
        <div class="row">
            <div class="col-md-4 cluster-outline" *ngFor="let cluster of clusters">
                <div class="cluster clearfix" [ngStyle]="{'border': 'solid 1px ' + cluster.color}">
                    <div class="cluster__name" [ngStyle] ="{'background-color': cluster.color}">
                        <p class="cluster__name-element">{{cluster.name}}</p>
                    </div>
                    <div class="cluster__words">
                        <table class="cluster__table">
                            <div>
                                <tr *ngFor="let word of cluster.data" [ngStyle]="{'color': cluster.color}">
                                    <td class="cluster__table_name">{{word.name}}</td>
                                    <td class="cluster__table_probability">{{word.value}}</td>
                                </tr>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
